:root {
  --background: #ffead0;
  --foreground: #093a3e;
  --link-hover: rgba(149, 167, 141, 0.75);
  --link-hover-opp: #968269;
  --emphasis: #da7422;
}

:root.dark {
  --background: #093a3e;
  --foreground: #ffead0;
  --link-hover: #968269;
  --link-hover-opp: rgba(149, 167, 141, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #093a3e;
    --foreground: #ffead0;
    --link-hover: #968269;
    --link-hover-opp: #95a78d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  cursor: url("../public/cursor.cur"), auto;
  transition:
    background-color 0.3s ease,
    color 0.3s ease !important;
}
